/*RESET*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/*HEADER*/
header{
    height: 100px;
    background: #6cc091;
    padding:0 50px;
    color:#fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 10px;
    transition: 0.4s;
    margin:10px;
}
.mostrarmenu,
.escondermenu{
    font-size:30px;
    cursor:pointer;
    display:none;
    transition: 0.4s;
}
.mostrarmenu{
    order:1;
}
.menu a:hover,
.mostrarmenu:hover,
.escondermenu:hover{
    color:#6cc091;
}
#check{
    display:none;
}
/*BANNER*/
#banner{
    padding: 0 50px;
    background-image: url(https://www.shutterstock.com/image-photo/tropical-resort-background-floral-banner-260nw-2220470091.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    color: #47f541;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.boton{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}
.boton:hover{
    background: #6cc09070;
}
/*PLANTAS*/
#plantas{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#plantas div img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px;
}
#plantas img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
    text-align: center;
}
#plantas img:hover{
    transform: scale(1.2);
}
#plantas div{
    padding:30px 30px;
}
#plantas div h4{
    color:#47f541;
    font-size: 20px;
    margin: 15px 0px;
}
#plantas div p{
    color:#000;
    font-size: 18px;
}
/*ZOOM Y DECORACIÓN DE IMAGEN*/
.botonsabermas{
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}
.botonsabermas:hover{
    background: #6cc091;
    color: #fff;
}
/*ICONOS*/
.contenidoiconos{
    padding: 50px 50px 0px 50px;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.planta,
.follow,
.libro{
    width: 70px;
    height: 70px;
}
.contenidoiconos div{
    flex:1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
#iconomobile{
    border: none;
}
.contenidoiconos div img{
    color: #6cc091;
}
.contenidoiconos div h6{
    color: black;
    font-size: 20px;
    font-weight: 100;
    margin:10px 0px;
}
.contenidoiconos div p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;
}
.botoniconos{
    text-align: center;
    padding-bottom: 50px;
}
/*FORMULARIOOOO*/
#contacto{
    background: #6cc091;
    padding-bottom: 50px 0px;
    color: #fff;
}
#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
#contacto form{
    max-width: 80%;
    margin: 0 auto;
}
.datosform{
    display: flex;
}
.datosform div{
    padding: 10px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
}
form input,
form textarea{
    background: #6cc091;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #fff;
    width: 100%;
}
form input:focus,
form textarea:focus{
    border-color:#4bae77;
    box-shadow: 0 0 0 0 1px #4bae77;
}
form input::placeholder,
form textarea::placeholder{
    color: #fff;
}
.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.botonformulario .botonsabermas{
    display: block;
    border: 1px solid #fff;
    color:#fff;
    text-align: center;
    transition: 0.4s;
}
.botonformulario .botonsabermas:hover{
    background: #4fa777ad;
}
/*FOOTER*/
footer{
    background: #4D4D5C;
    color: #cccccc4a;
    text-align: center;
    padding: 10px 10px;
}
/*RESPONSIVE*/
/* ESTO APARENTEMENTE HACE QUE LA PAGINA SEA RESPONSIVA*/
@media(max-width:800px){
    /*HEADER*/
    .mostrarmenu,
    .escondermenu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4D4D5C;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index:100;
        transition:0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .escondermenu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    /*PLANTASXD¿?*/
    #plantas{
        flex-direction: column;
    }
    /*ICONOS*/
    .contenidoiconos{
        flex-direction: column;
    }
    .contenidoiconos div{
        border: none;
    }
    /*FORMULARIO*/
    .datosform{
        flex-direction: column;
    }
}
@media(max-width:412px){
    #plantas div img{
        margin:20px  -50px;
    }
}
@media(max-width:507px){
    #plantas div img{
        margin:20px  -50px;
    }
}
@media(max-width:477px){
    #plantas div img{
        margin:20px  -50px;
    }
}
@media(max-width:370px){
    #plantas div img{
        margin:20px  -50px;
    }
}